<h2>Rooms Management</h2>

<form class="form-inline">
    <div class="form-group">
        <label>Name</label>
        <input ng-model="inputRoom.name" type="text" class="form-control" placeholder="">
    </div>
    <button ng-click="createRoom()" ng-disabled="checkCreateButton()" type="submit" class="btn btn-success">Create Room</button>
</form>

<h4>Room List</h4>

<div class="panel panel-primary" ng-repeat="room in rooms">
    <div class="panel-heading">
        {{room.name}}
    </div>
    <div class="panel-content">
        <div ng-show="room.scenario">
            Current scenario: <strong>{{room.scenario.name}}</strong>
        </div>
        <div ng-hide="room.scenario">
            No scenario set
        </div>
        Set scenario: 
        <select ng-options="scenario.name for scenario in scenarios track by scenario.id" ng-model="room.selectedScenario"></select>
        <a ng-click="setScenario(room, room.selectedScenario)" class="btn btn-primary "><span class="glyphicon glyphicon-pencil"></span> Set scenario</a>
    </div>
    <div class="panel-footer">
        <a class="btn btn-success"><span class="glyphicon glyphicon-wrench"></span> Edit</a>
        <a ng-click="deleteRoom(room)" class="btn btn-danger "><span class="glyphicon glyphicon-trash"></span> Delete</a>
    </div>


</div>